---
import {getEntry} from "astro:content"
import Main from "../../components/Main.astro"
import Layout from "../../layouts/Layout.astro"
import {Image} from "astro:assets"
import "../../styles/global.css";

const {slug} = Astro.params;
const post = await getEntry("posts",  slug as string)

if (!post) {
    return Astro.redirect('/404')
}

const {Content} = await post.render()
---
<Layout title={post.data.title}>
	<Main>
        <div class="w-full flex flex-col items-center">
            <div class="prose md:prose-xl overflow-visible relative mb-20">
                <h1 class="py-8">{post.data.title}</h1>
                <Content />
            </div>
        </div>
	</Main>

</Layout>