---
import {getEntry} from "astro:content"
import Main from "../../components/Main.astro"
import Layout from "../../layouts/Layout.astro"
import {Image} from "astro:assets"
import "../../styles/global.css";

const {slug} = Astro.params;
const post = await getEntry("posts",  slug as string)

if (!post) {
    return Astro.redirect('/404')
}

const {Content} = await post.render()
---
<Layout title={post.data.title}>
	<Main>
        <div class="w-full flex flex-col items-center">
            <img src={post.data.image as unknown as string} alt="test" />
            <!-- <Image
            src={post.data.image}
            alt={post.data.title}
            width={800}
            height={800 / 1.5}
            format="webp"
            class="rounded-2xl shadow-xl mb-6 object-cover"
            /> -->
            <div class="prose md:prose-xl overflow-visible relative mb-20">
                <h1 class="py-8">{post.data.title}</h1>
                <Content />
            </div>
        </div>
	</Main>

</Layout>