---
import {type CollectionEntry, getEntry} from "astro:content"
import {Image} from "astro:assets"
import CategoryList from "./CategoryList.astro"

type Props = {
    post: CollectionEntry<"posts">
}

const {post} = Astro.props
const source = await getEntry("sources", post.data.source)
---

<article class="max-w-lg">
    <a
        href={`/blog/${post.slug}`}
        aria-label={`Read more about ${post.data.title}`}
    >
        <Image
            src={post.data.image}
            alt={post.data.title}
            width={600}
            height={600 / 1.5}
            format="webp"
            class="rounded-2xl shadow-xl mb-3 aspect-thumbnail object-cover"
        />
        <div class="mb-1">
            <CategoryList categories={post.data.categories} />
        </div>
    
        <p class="text-zinc-500 text-2xl mb-5 line-clamp-2 text-center">
            {post.data.title}
        </p>
    
        <div class="border-b-2 border-b-gray-400 pb-4">
            <span class="text-zinc-700 text-sm">
                {post.data.date}
            </span>
        </div>
    </a>

</article>